@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?fo7ct5');
  src: url('../fonts/icomoon.eot?fo7ct5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fo7ct5') format('truetype'),
    url('../fonts/icomoon.woff?fo7ct5') format('woff'),
    url('../fonts/icomoon.svg?fo7ct5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-share:before {
  content: "\e919";
}

.icon-ico-arrow:before {
  content: "\e900";
}

.icon-ico-cart:before {
  content: "\e901";
}

.icon-ico-chev-down:before {
  content: "\e902";
}

.icon-ico-chev-left:before {
  content: "\e903";
}

.icon-ico-chev-right:before {
  content: "\e904";
}

.icon-ico-chev-up:before {
  content: "\e905";
}

.icon-ico-close:before {
  content: "\e906";
}

.icon-ico-delete:before {
  content: "\e907";
}

.icon-ico-eye:before {
  content: "\e908";
}

.icon-ico-facebook:before {
  content: "\e909";
}

.icon-ico-find:before {
  content: "\e90a";
}

.icon-ico-instagram:before {
  content: "\e90b";
}

.icon-ico-link:before {
  content: "\e90c";
}

.icon-ico-linkedin:before {
  content: "\e90d";
}

.icon-ico-mail:before {
  content: "\e90e";
}

.icon-ico-min:before {
  content: "\e90f";
}

.icon-ico-phone:before {
  content: "\e910";
}

.icon-ico-pin:before {
  content: "\e911";
}

.icon-ico-plus:before {
  content: "\e912";
}

.icon-ico-search:before {
  content: "\e913";
}

.icon-ico-send:before {
  content: "\e914";
}

.icon-ico-tiktok:before {
  content: "\e915";
}

.icon-ico-twitter:before {
  content: "\e916";
}

.icon-ico-wa:before {
  content: "\e917";
}

.icon-ico-youtube:before {
  content: "\e918";
}