/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

:root {
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
  --color-red: 237, 31, 48;
  --color-red-2: 133, 0, 11;
}

html {
  color: #434343;
  font-size: 16px;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: transparent;
  border-top: 1px solid #F3F3F6;
  margin: 1em 0;
  padding: 0;
  opacity: 1;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: rgb(var(--color-red));
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgb(var(--color-red-2));
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(var(--color-black));
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ========== Typography ========== */

.karla {
  font-family: 'Karla';
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-size: 60px;
  line-height: 70px;
}

h3 {
  font-size: 50px;
  line-height: 64px;
}

h4 {
  font-size: 40px;
  line-height: 50px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
}

.text-xxxs {
  font-size: 10px;
  line-height: 18px;
}

.text-xxs {
  font-size: 12px;
  line-height: 20px;
}

.text-xs {
  font-size: 14px;
  line-height: 23px;
}

.text-md {
  font-size: 18px;
  line-height: 27px;
}

.text-xxl {
  font-size: 20px;
  line-height: 20px;
}

.text-3xl {
  font-size: 30px;
  line-height: 40px;
}

.lh-auto {
  line-height: normal;
}

/* ========== Colors ========== */
.color-black {
  color: rgb(var(--color-black));
}

.color-white {
  color: rgb(var(--color-white));
}

.color-red {
  color: rgb(var(--color-red));
}

.color-red-2 {
  color: rgb(var(--color-red-2));
}

/* ========== Forms & Input ========== */

.form-control {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid #E9E7EC;
  border-radius: 4px;
}

.form-select {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  background-clip: padding-box;
  border: 1px solid #E9E7EC;
  border-radius: 4px;
}

.form-control:focus,
.form-select:focus {
  color: rgb(var(--color-default));
  background-color: transparent;
  border-color: rgb(var(--color-primary));
  outline: 0;
  box-shadow: none;
}

.form-control:disabled {
  background-color: #FFFFFF;
  border: 1px solid #E9E7EC;
}


/* ========== Button ========== */

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 15px;
  border-radius: 4px;
}

.btn.sm {
  padding: 10px 15px;
}

.btn:focus,
.btn:hover {
  outline: 0;
  box-shadow: none;
}

.btn-primary {
  background: url(../img/bg-btn.png);
  width: 317px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus {
  background: url(../img/bg-btn.png);
  color: rgb(var(--color-white));
}

.btn-toggle {
  padding: 0;
  position: absolute;
  right: 100px;
  top: 40px;
}

.btn-primary.icon::after {
  content: url(../img/icon/ico-chev.svg);
  width: 24px;
  height: 24px;
  transition: all 100ms ease-in-out;
  position: relative;
}

.btn-primary.icon:hover::after {
  padding-left: 5px;
  transition: all 100ms ease-in-out;
}

/* ========== Header ========== */

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 150;
}

.header::before {
  content: '';
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  z-index: -1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 20px;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  padding-top: 20px;
  z-index: 3;
}

.header-left,
.header-right {
  padding-top: 10px;
  position: relative;
}

.hc-center {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.hc-center.new {
  margin-top: 7px;
  width: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}

.no-shiled .main-logo img {
  max-height: 170px;
  margin-top: -33px;
}

#countdown ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 15px;
  justify-content: center;
  padding-left: 0;
}

#countdown li {
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

#countdown li span {
  display: block;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
}

.main-menu:hover,
.main-menu:focus {
  color: #fff;
}

.menu-right {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50px;
  padding-left: 90px;
}

.menu-left {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50px;
  padding-right: 88px;
  right: 0;
}

.main-menu {
  display: block;
  color: #B6B6B6;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.dropdown-menu {
  min-width: 10rem;
  padding: 0.5rem 0;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #666666;
  border-radius: 0.25rem;
  background-image: url(../img/bg-dropdown.jpg);
  background-size: cover;
  background-position: center;
}

.dropdown-menu .dropdown-item {
  color: #B6B6B6;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #fff;
  background-color: rgb(var(--color-red));
}

/* ========== Menu Mobile ========== */
.mobile-nav {
  max-width: 350px;
  height: 100vh;
  background-color: rgb(var(--color-white));
  position: fixed;
  left: -350px;
  top: 0;
  z-index: 190;
  width: 100%;
  padding: 30px;
  transition: all 150ms ease-in-out;
}

.mobile-nav.show {
  left: 0;
}

.overlay-mobile {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.overlay-mobile.show {
  visibility: visible;
  opacity: 1;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
}

.logo-mobile img {
  max-height: 45px;
}

.btn-close-nav {
  padding: 0;
}

.mobile-nav-content {
  margin-top: 30px;
  height: calc(100vh - 300px);
  margin-bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  color: rgb(var(--color-black));
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-items:hover {
  color: rgb(var(--color-black));
}

.menu-list {
  border-bottom: 1px solid #efefef;
}

.menu-items::after {
  content: '';
  background: url('../img/icon/minus.svg');
  width: 18px;
  height: 18px;
  background-size: 18px;
}

.menu-items::after img {
  filter: brightness(0%);
}

.menu-items.single::after {
  background: none;
}

.menu-items.collapsed::after {
  content: '';
  background: url('../img/icon/plus.svg');
  width: 18px;
  height: 18px;
  background-size: 18px;
}

.list-menu {
  list-style-type: square;
}

.list-menu li {
  padding: 5px 0;
}

.list-menu li::marker {
  color: rgb(var(--color-red));
}

.list-menu li a {
  color: rgb(var(--color-black));
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.social {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social li a {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(var(--color-black));
}

.social li a img {
  filter: brightness(0);
}

.social li a:hover {
  background-color: rgb(var(--color-black));
  border: 1px solid rgb(var(--color-black));
}

.social li a:hover img {
  filter: none;
}

/* ========== Content ========== */
.hero-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 50px);
}

.hero {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  overflow: hidden;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }

  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}


.running-text {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(var(--color-black));
  overflow-x: hidden;
}

.marquee .swiper-wrapper {
  transition-timing-function: linear !important;
}

.marquee .swiper-slide span {
  padding: 0;
  display: inline-block;
  font-size: 30px;
  color: rgb(var(--color-white));
  font-weight: 600;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marquee .swiper-slide {
  text-align: center;
  width: auto;
  position: relative;
  overflow: hidden;
}

.swiper-slide span::before {
  content: '-';
  color: #DA3738 !important;
  font-size: 30px;
  line-height: 30px;
  margin: 0 10px;
  color: rgb(var(--color-white));
  font-weight: 600;
}


.news-section {
  padding: 60px 0;
  background-color: #F2F2F2;
}

.img-news {
  border-radius: 20px;
  margin-bottom: 25px;
  overflow: hidden;
  display: block;
  height: 270px;
}

.img-news img {
  object-position: center;
  object-fit: cover;
  height: 270px;
  transition: all 200ms ease-in-out;
}

.img-news:hover img {
  transform: scale(1.2);
  rotate: -10deg;
}

.news-tittle {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
}

.more-news {
  position: relative;
  color: rgb(var(--color-black));
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: all 100ms ease-in-out;
}

.more-news::after {
  content: url(../img/icon/ico-chev.svg);
  width: 24px;
  height: 24px;
  filter: brightness(0);
  transition: all 100ms ease-in-out;
  position: relative;
}

.more-news:hover::after {
  padding-left: 5px;
  transition: all 100ms ease-in-out;
}

.footer {
  background-color: rgb(var(--color-black));
  padding: 40px 0;
}

.bg-grunge {
  background: url('../img/bg-grunge.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.black-grunge {
  background: url('../img/black-grunge.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.section-aktifitas {
  padding: 60px 0;
  overflow-x: hidden;
}

.img-activity {
  height: 200px;
  border-radius: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}

.img-activity img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.activity {
  overflow: visible;
}

.section-partner {
  padding: 60px 0;
  background: #F2F2F2;
}

.img-parnter {
  background-color: rgb(var(--color-white));
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-parnter div {
  text-align: center;
}

.img-parnter div img {
  max-width: 80%;
}

.img-parnter.plat {
  height: 260px;
}

.img-parnter.gold {
  height: 200px;
}

.img-parnter.silver {
  height: 130px;
}

.img-parnter.bronze {
  height: 60px;
}

.grid-partner {
  display: grid;
  gap: 15px;
}

.grid-partner.plat {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-partner.gold {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-partner.silver {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-partner.bronze {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.img-testimonial {
  width: 490px;
}

.img-testimonial img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.testimonials-text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 625px;
  display: flex;
  align-items: center;
}

.wrapper-testimonial {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

.nav-testi {
  height: 50px;
  width: 90px;
  position: absolute;
  bottom: 60px;
}

.news-desc {
  margin-bottom: 60px;
}

.daftar-section {
  padding: 60px 0;
}

.bg-black {
  background: rgb(var(--color-black));
  border-radius: 20px;
}

.sign-ttl {
  font-size: 40px;
}

.sign-desc {
  font-size: 72px;
}

.bg-flame {
  background: url('../img/bg-fire.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 40px 0;
}

.text-100 {
  font-size: 100px;
}

.slider-bg-white {
  position: relative;
  z-index: 2;
}

.slider-bg-white::before {
  content: '';
  position: absolute;
  background-color: rgb(var(--color-white));
  border-radius: 20px;
  border: 2px dashed rgb(var(--color-red));
  width: 100%;
  height: calc(100% - 90px);
  top: 30px;
  display: block;
  z-index: -1;
}

.paginav {
  position: absolute;
  bottom: 125px;
  width: 100%;
  padding-left: 10px;
}

.event-items {
  border-radius: 20px;
  overflow: hidden;
}

.img-template {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}

.img-template img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100%;
}

.title-regional {
  font-weight: 700;
  font-size: 60px;
}

.accordion-button {
  position: relative;
  font-family: "Karla";
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  font-size: 30px;
  color: #212529;
  text-align: left;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0;
  overflow-anchor: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px dashed rgb(var(--color-red));
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgb(var(--color-red));
}

.accordion-button:not(.collapsed) {
  color: rgb(var(--color-black));
  background-color: transparent;
  box-shadow: none;
}

.accordion-item {
  background-color: transparent;
  border-bottom: 2px dashed rgb(var(--color-red));
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../img/icon/chev-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/icon/chev-down.svg);
  transform: rotate(-180deg);
}

.accordion-body {
  background-color: rgb(var(--color-white));
}

.number-items {
  display: flex;
  align-items: baseline;
}

.list-club {
  padding: 60px 0;
}

.filter-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.filter-list li {
  color: rgb(var(--color-red));
}

.filter-list li a.active {
  color: rgb(var(--color-white));
}

.list-logo {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.white {
  background-color: rgb(var(--color-white));
}

.black {
  background-color: rgb(var(--color-black));
}

.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
  border-radius: 20px;
  border: 2px dashed #DA3738;
  overflow: hidden;
}

.img-clubs {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.img-clubs img {
  max-width: 70%;
}

.box-act {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 195px;
  background: url('../img/black-grunge.jpg');
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.box-act.donot::after {
  content: '';
  width: 290px;
  height: 30px;
  background-color: #DA3738;
  z-index: -1;
  position: absolute;
  rotate: 134deg;
  top: 85px;
  bottom: 0;
}

.logo-item {
  margin-bottom: 10px;
}


.pagination img {
  width: 18px;
}

.page-link {
  position: relative;
  display: block;
  color: rgb(var(--color-red));
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

.page-link:hover {
  color: rgb(var(--color-red));
}

.page-link.active {
  color: rgb(var(--color-white));
}

.poster {
  background-color: rgb(var(--color-black));
  border-radius: 20px;
  overflow: hidden;
}

.rounded-20 {
  border-radius: 20px;
}

.maps {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.acara-detail {
  padding: 40px 0;
}

.section-profile {
  overflow-x: hidden;
}

.more-maps {
  font-size: 30px;
  color: #000;
  font-weight: 500;
  line-height: 40px;
}

.wrapper-profile {
  display: flex;
  justify-content: flex-end;
  height: 625px;
}

.profile-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.img-profile {
  width: 607px;
}

.inner-profile {
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-gallery {
  padding: 50px 0;
}

.img-gallery {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.news-tittle {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.news-items p {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.wrap-img {
  border-radius: 20px;
  overflow: hidden;
}

img.mfp-img {
  padding: 0px;
}

/* ========== Swiper Override ========== */

#testi.swiper-button-next::after,
#testi.swiper-button-prev::after {
  content: none;
}

.how.swiper-button-next::after,
.how.swiper-button-prev::after {
  content: none;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #B6B6B6;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: rgb(var(--color-red));
}

#daftar.swiper-pagination {
  position: relative;
  bottom: 0;
  text-align: left;
}

#event.swiper-pagination {
  position: relative;
  bottom: 0;
  text-align: left;
}

.event.swiper-pagination {
  bottom: 20px;
  text-align: left;
  padding-left: 40px;
}

.gold.swiper-grid-column>.swiper-wrapper,
.silver.swiper-grid-column>.swiper-wrapper,
.bronze.swiper-grid-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
}

.gold .swiper-slide,
.silver .swiper-slide,
.bronze .swiper-slide {
  padding: 5px;
}


/* ========== Scroll ========== */
.list-suggest::-webkit-scrollbar,
.popup-content::-webkit-scrollbar,
.p-content::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

/* Track */
.list-suggest::-webkit-scrollbar-track,
.popup-content::-webkit-scrollbar-track,
.p-content::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.list-suggest::-webkit-scrollbar-thumb,
.popup-content::-webkit-scrollbar-thumb,
.p-content::-webkit-scrollbar-thumb {
  background: #f3f3f3;
}

/* Handle on hover */
.list-suggest::-webkit-scrollbar-thumb:hover,
.popup-content::-webkit-scrollbar-thumb:hover,
.p-content::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden,
[hidden] {
  display: none !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.text-hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-extraBold {
  font-weight: 800;
}

.text-bold {
  font-weight: 700;
}

.text-semiBold {
  font-weight: 600;
}

.text-medium {
  font-weight: 500;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

.text-ultra-bold {
  font-weight: 900;
}

.h-100vh {
  height: 100vh;
}

.mh-0 {
  min-height: 0;
}

.line-height {
  line-height: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Responsive Design.
   ========================================================================== */

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 600px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1200px;
  }

  .hide-desktop {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .header .container {
    max-width: 100% !important;
  }

  .header-right,
  .header-left {
    display: flex;
    width: 40%;
  }

  .menu-right {
    top: 44px;
  }

  .menu-left {
    top: 42px;
    padding-right: 85px;
  }
}

@media (min-width: 1025px) {
  .btn-toggle {
    display: none;
  }

  .img-testi,
  .img-profile-hide {
    display: none;
  }
}

@media (max-width: 1024px) {

  .menu-right,
  .menu-left {
    display: none;
  }

  .header-left,
  .header-right {
    padding-top: 15px;
    width: 38%;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }

  .img-testimonial {
    width: 365px;
    height: 625px;
  }

  .img-testimonial img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }

  .testimonials-text .text-md {
    font-size: 16px;
  }

  h2 {
    font-size: 50px;
    line-height: 60px;
  }

  .hide-tablet {
    display: none;
  }

  .img-testi,
  .img-profile-hide {
    display: none;
  }

  .sign-ttl {
    font-size: 30px;
  }

  .sign-desc {
    font-size: 42px;
  }

  .list-logo {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .no-shiled .main-logo img {
    max-height: 149px;
    margin-top: -33px;
  }
}

@media (max-width: 991px) {
  .btn-toggle {
    right: 66px;
    top: 30px;
  }

  .wrapper-testimonial {
    display: none;
  }

  .testimonials-text {
    position: relative;
  }

  .img-testi {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .img-testi img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .section-testimonial {
    padding: 60px 0;
  }

  .img-testi,
  .img-profile-hide {
    display: block;
  }

  .nav-testi {
    position: relative;
    bottom: 0;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .sign-ttl {
    font-size: 30px;
  }

  .sign-desc {
    font-size: 42px;
  }

  .text-100 {
    font-size: 75px;
  }

  .slider-bg-white::before {
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    z-index: -1;
  }

  .paginav {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  #event.swiper-pagination {
    bottom: 50px;
    text-align: center;
  }

  #daftar.swiper-pagination {
    bottom: 73px;
    text-align: center;
  }

  .slider-bg-white {
    padding-bottom: 50px;
  }

  .accordion-button {
    font-size: 25px;
  }

  .list-logo {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .profile-text {
    position: relative;
    padding: 20px 0;
  }

  .wrapper-profile {
    display: none;
  }

  .img-profile-hide img {
    width: 100%;
  }

  .inner-profile {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-poster {
    max-height: 100%;
  }

  .img-poster img {
    max-height: 100%;
  }

  .img-parnter.plat {
    height: 200px;
  }

  .img-parnter.gold {
    height: 115px;
  }

  .img-parnter.silver {
    height: 95px;
  }

  .grid-partner.silver {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-partner.bronze {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .img-clubs {
    min-height: 130px;
  }

  .no-shiled .main-logo img {
    max-height: 120px;
    margin-top: -33px;
  }
}

@media (max-width: 767px) {

  .header-center {
    width: 75%;
    padding-top: 0;
  }

  .no-shiled .main-logo img {
    margin-top: 0px;
  }

  .main-logo img {
    height: 130px;
  }

  #countdown li span {
    font-size: 30px;
    line-height: 36px;
  }

  .header-left,
  .header-right {
    padding-top: 15px;
    width: 50%;
    overflow: hidden;
  }

  .header-left img,
  .header-right img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 80px;
  }

  .btn-toggle {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 90;
  }

  .btn-toggle img {
    max-width: 100%;
    height: 15px;
  }

  h3 {
    font-size: 30px;
    line-height: 44px;
  }

  h1 {
    font-size: 37px;
    line-height: 60px;
  }

  .text-3xl {
    font-size: 18px;
    line-height: 24px;
  }

  .text-100 {
    font-size: 45px;
  }

  .bg-flame h2 {
    font-size: 30px;
    line-height: 40px;
  }

  #event.swiper-pagination {
    bottom: 60px;
    text-align: center;
  }

  #daftar.swiper-pagination {
    bottom: 93px;
    text-align: center;
  }

  .event.swiper-pagination {
    position: relative;
    bottom: 20px;
    text-align: center;
    padding-left: 0;
  }

  .title-regional {
    font-size: 50px;
  }

  .list-logo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .info-club h5 {
    font-size: 16px;
  }

  .box-logo {
    width: 100%;
    height: 200px;
  }

  .more-maps {
    font-size: 20px;
    line-height: 22px;
  }

  .grid-partner.plat {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-partner.gold {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-partner.silver {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-partner.bronze {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .hc-center.new .main-logo img {
    height: 110px;
  }
}


@media (min-width: 992px) {}

@media (max-width: 767px) and (orientation: landscape) {}

@media (max-width: 992px) and (orientation: landscape) {}



/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}